/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/reset"; */
/* line 8, ../sass/screen.scss */
body {
  background: #f2f2f2; }

/* line 10, ../sass/screen.scss */
h1 {
  font: 1em/1.2em Times, Georgia, serif;
  color: #0000ff; }
